{% set title = "Blog" %}

{% extends "template.html" %}

{% block content %}
<main class="px-3 mx-auto flex-grow-1 w-100">
    <h1>Blog</h1>

    <div class="text-start">
        <div class="list-group">
        {% for entry in blog_entries %}
            <a href="blog-{{ entry['stub'] }}.html" class="list-group-item list-group-item-action">
                <div class="d-flex w-100 justify-content-between">
                    <h5>{{ entry['title'] }}</h5>
                    <small class="text-muted">{{ entry['date'] }}</small>
                </div>
                <p class="mb-1">{{ entry['description'] }}</p>
            </a>
        {% endfor %}
        </div>
    </div>
</main>
{% endblock %}
