{% set title = "Experiments" %}

{% extends "template.html" %}

{% block content %}
<main class="px-3 mx-auto flex-grow-1 w-100">
    <h1>Experiments</h1>

    <div class="text-start">
        <p class="lead">
            TODO. Sorry for the disappointment!
        </p>
    </div>
</main>
{% endblock %}
