{% set title = "Home" %}
{% extends "template.html" %}

{% block content %}
<main class="px-3 cover mx-auto">
    <h1>Welcome!</h1>

    <p class="lead">
        This site is where I put up blog posts, random experiments, and whatever else needs a home online.
    </p>
</main>
{% endblock %}
