{% set title = "Resume" %}

{% extends "template.html" %}

{% block content %}
<main class="px-3 mx-auto flex-grow-1 w-100">
    <h1>Resume</h1>

    <div class="text-start">
        <aside class="float-md-end container" style="width: 15rem;">
            <p>
                <img src="nathan-monfils.jpg" alt="Photo of me" class="w-50" /><br>
                Rue du Bois du Bosquet, 67/9<br>
                1331 Rixensart<br>
                <strong>+32 471 22 00 24</strong><br>
                <a href="mailto:nathanmonfils@gmail.com">nathanmonfils@gmail.com</a>
            </p>

            <h4>Spoken languages</h4>

            Fluent in English, native French speaker.
        </aside>

        <article>
            <div class="mb-4">
                <h2>Background</h2>

                <p>
                    I have been learning many different aspects of computing and programming on my own since I
                    was ten years old. This made me a quick self-learner, capable of learning new technologies
                    and frameworks as they are needed.<br />
                    In my day-to-day, I work on a wide variety of projects, which require a breadth of
                    knowledge as well as the ability to respond to incidents quickly and efficiently.
                </p>
            </div>

            <div class="mb-4">
                <h2>Experience</h2>
                <ul>
                    <li><strong>2018-pres</strong>: Cloud Back-End Development Engineer at Escaux (telephony).</li>
                </ul>
            </div>

            <div class="mb-4">
                <h2>Software Development</h2>

                <h3>Programming languages</h3>

                <ul>
                    <li><strong>Python</strong>: Expert;
                    <li><strong>SQL</strong>: Proficient with MySQL and PostgreSQL;
                    <li><strong>Scripting</strong>: Proficient with bash/perl scripting;
                    <li><strong>C</strong>: Proficient, used in on several projects;
                    <li><strong>Java</strong>: Used on several personal projects;
                    <li><strong>Web</strong>: Proficient with HTML/CSS/JS. Over two years experience with TypeScript and ReactJS;
                    <li><strong>Go</strong>: Used it on a few projects;
                    <li><strong>Rust</strong>: Used it on a few personal projects.
                </ul>

                <h3>Technologies</h3>

                <ul>
                    <li><strong>Linux</strong>: Proficient, have been using it as my main operating system for seven years;
                    <li><strong>Git</strong>: Proficient, including advanced features such as gitflow, submodules, subtrees, worktrees…
                    <li><strong>Ansible</strong>: Proficient, wrote tens of playbooks over two years;
                    <li><strong>Prometheus/Grafana</strong>: Proficient, wrote several prometheus exporters and grafana dashboards;
                    <li><strong>HAProxy/NGINX</strong>: Proficient, handled load balancing and access rules/authentication for many services;
                    <li><strong>TLS</strong>: Intermediate (simple PKI, automatic Let's Encrypt DNS-01, client cert auth)…
                    <li><strong>Networking</strong>: Intermediate. Can debug most issues;
                    <li><strong>Docker</strong>: Intermediate. Used it to deploy all my services on my home server, and as a development environment for many projects;
                    <li>… And more I definitely forgot.
                </ul>
            </div>

        </article>
    </div>
</main>
{% endblock %}
