{% set pygmentize=True %}
{% extends "template.html" %}

{% block content %}
<main class="px-3 mx-auto flex-grow-1 w-100">
    <h1>{{ title }}</h1>

    <div class="text-start markdown">
        {{ content }}
    </div>
</main>
{% endblock %}
