<!DOCTYPE HTML>
<html class="h-100" lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Nathan Monfils' blog/demos/whatevers">
        <meta name="author" content="Nathan Monfils">
        <link rel="shortcut icon" href="favicon.png" type="image/png">
        <link rel="stylesheet" href="style.css" type="text/css">

        {% if pygmentize | default(False) %}<style>{{ include_raw((output_dir / 'pygments.css').as_posix()) }}</style>{% endif %}
        <title>{{ title }} – e4b4.eu</title>
    </head>

    <body class="d-flex h-100 text-center bg-dark text-white">
        <div class="d-flex w-100 h-100 p-3 mx-auto flex-column">
            <header class="mb-auto">
                <h3 class="float-md-start">~/e4b4.eu</h3>

                <nav class="float-md-end navbar">
                    <a class="nav-link active" href="index.html">Home</a>
                    <a class="nav-link" href="resume.html">Resume</a>
                    <a class="nav-link" href="blog.html">Blog</a>
                    <a class="nav-link" href="experiments.html">Experiments</a>
                </nav>
            </header>

            {% block content %}{% endblock %}

            <footer class="mt-auto text-white-50">
                © Nathan Monfils, 2021. Site powered by <a href="https://getbootstrap.com/">bootstrap</a> and elbow grease.
            </footer>
        </div>
    </body>
</html>
