// https://coolors.co/ee4266-f8f272-f3d9dc-a0d2db-bee7e8-6f9283-a9def9-202231
$primary: #A0D2DB;
$secondary: #BEE7E8;
$danger: #EE4266;
$warning: #F8F272;
$light: #F3D9DC;
$dark: #202231;
$success: #6F9283;
$info: #A9DEF9;

$font-family-sans-serif: 'Signika Negative', sans-serif;

// https://fonts.google.com/specimen/Signika+Negative?category=Sans+Serif&subset=latin-ext&preview.text=This%20is%20a%20test%20%C3%A9%C3%A8abc%C3%AA%C3%AB&preview.text_type=custom#license
@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300;400;700&display=swap');

@import "../../bootstrap/scss/bootstrap";

body > div {
    max-width: 120ch;
}

a {
    color: $primary;
    text-decoration: none;
}

a:hover, a:active {
    color: $primary;
    text-decoration: underline;
}

.cover {
    max-width: 42em;
}

a.list-group-item-action {
    cursor: pointer;
}

.markdown {
    pre > code {
        display: inline-block;
        padding: 0.5rem;
    }

    p img {
        display: block;
        margin: auto;
    }
}

@media print {
    @page {
        size: 210mm 297mm;
        margin: 13mm;
    }
    .container {
        width: 1170px;
    }

    .float-md-end {
        float: right !important;
    }

    header, footer, h1 {
        display: none;
    }

    main {
        p {
            text-align: justify;
            text-justify: inter-word;
        }
    }
}
